<form>
    <div class="form-group">
        <label for="exampleInputEmail1">Modelo</label>
        <input maxlength="30" data-target="model" class="form-control" placeholder="Ingrese el Modelo del producto">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Stock</label>
        <input class="form-control" data-target="stock" type="number" placeholder="Ingrese cantidad">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Precio</label>
        <input class="form-control" data-target="price" type="number" placeholder="Ingrese el precio del producto">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Imagen</label>
        <input class="form-control" data-target="image" type="file" placeholder="Ingrese imagen del producto">
        <small id="passwordHelpInline" class="text-muted">
            Peso máximo: 5MB
        </small>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Categoría</label>
        <select class="form-control" id="categories" data-target="category">
            <option selected disabled>
                <--- Seleccione la categoría --->
                    {{#each categories}}
            <option value={{this.name}}>{{this.name}}</option>
            {{/each}}
            </option>


        </select>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Descripción</label>
        <input data-target="description" class="form-control" placeholder="Ingrese el descripción del producto">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Talla</label>
        <select data-target="size" class="form-control" id="sizes">
            <option selected disabled>
                <--- Seleccione la categoría --->
                    {{#each sizes}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
            </option>


        </select>

    </div>

    <div class="form-group w-50">
        <label for="exampleInputEmail1">Genero</label>
        <div class="d-flex justify-content-around" id="genders">
            {{#each genders}}
            <span>{{this}}</span>
            <input data-target="gender" class="form-control" value={{this}} type="radio" name="genders">
            {{/each}}
        </div>

    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Color</label>
        <select data-target="color" class="form-control" id="colors">
            <option selected disabled>
                <--- Seleccione la color --->
                    {{#each colors}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
            </option>

        </select>
    </div>

    <button type="submit" class="btn btn-primary">Agregar</button>
    <button type="submit" class="btn btn-warning" onclick="updateProduct()">Actualizar</button>
</form>